<div class="container">
  <h1 class="text-center">Partner companies</h1>
  <h3 class="text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, eum.
    Reiciendis quibusdam iste dolore, corporis dolores deserunt odio vitae
    laudantium eligendi inventore aspernatur, dignissimos vero minus quos
    delectus molestiae sit?
  </h3>
</div>

<mat-table [dataSource]="companiesList">
  <!--Name column-->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Company name</mat-header-cell>
    <mat-cell *matCellDef="let company">{{ company.name }}</mat-cell>
  </ng-container>

  <!--Email column-->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let company">{{ company.email }}</mat-cell>
  </ng-container>

  <!--VAT column-->
  <ng-container matColumnDef="vat">
    <mat-header-cell *matHeaderCellDef>VAT</mat-header-cell>
    <mat-cell *matCellDef="let company; of">{{ company.vat }}</mat-cell>
  </ng-container>

  <!--Phone column-->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
    <mat-cell *matCellDef="let company">{{ company.phone }}</mat-cell>
  </ng-container>

  <!--Country column-->
  <ng-container matColumnDef="country">
    <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
    <mat-cell *matCellDef="let company">{{ company.country }}</mat-cell>
  </ng-container>

  <!--Addresses column-->
  <ng-container matColumnDef="addresses">
    <mat-header-cell *matHeaderCellDef>Addresses</mat-header-cell>
    <mat-cell *matCellDef="let company">{{ company.addresses }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let company; columns: displayedColumns"></mat-row>
</mat-table>
