<div class="container text-center">
  <h1>Partner companies</h1>
  <h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, eum.
    Reiciendis quibusdam iste dolore, corporis dolores deserunt odio vitae
    laudantium eligendi inventore aspernatur, dignissimos vero minus quos
    delectus molestiae sit?
  </h3>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <mat-form-field appearance="fill" class="mx-2">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="searchName" />
      </mat-form-field>
    </div>
    <div class="col-auto">
      <mat-form-field appearance="fill" class="mx-2">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="searchEmail" />
      </mat-form-field>
    </div>
    <div class="col-auto">
      <mat-form-field appearance="fill" class="mx-2">
        <mat-label>VAT</mat-label>
        <input matInput type="number" [(ngModel)]="searchVat" />
      </mat-form-field>
    </div>
    <div class="col-auto">
      <mat-form-field appearance="fill" class="mx-2">
        <mat-label>Phone</mat-label>
        <input matInput type="number" [(ngModel)]="searchPhone" />
      </mat-form-field>
    </div>
    <div class="col-auto">
      <mat-form-field appearance="fill" class="mx-2">
        <mat-label>Coutry</mat-label>
        <mat-select [(value)]="selectedCountry" [(ngModel)]="searchCountry">
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let country of countriesSortedList"
            [value]="country"
            >{{ country }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center">
    <button
      mat-fab
      extended
      color="primary"
      class="mx-2"
      (click)="companiesFilters()"
    >
      <mat-icon>search</mat-icon>
      Go!
    </button>
    <button
      mat-fab
      extended
      color="warn"
      class="mx-2"
      (click)="resetCompaniesFilters()"
    >
      Reset <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z4 mt-4">
    <!--Name column-->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Company name</mat-header-cell>
      <mat-cell *matCellDef="let company" class="text-truncate">
        {{ company.name }}
      </mat-cell>
    </ng-container>

    <!--Email column-->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let company" class="text-truncate">
        {{ company.email }}
      </mat-cell>
    </ng-container>

    <!--VAT column-->
    <ng-container matColumnDef="vat">
      <mat-header-cell *matHeaderCellDef>VAT</mat-header-cell>
      <mat-cell *matCellDef="let company" class="text-truncate">
        {{ company.vat }}
      </mat-cell>
    </ng-container>

    <!--Phone column-->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
      <mat-cell *matCellDef="let company" class="text-truncate">
        {{ company.phone }}
      </mat-cell>
    </ng-container>

    <!--Country column-->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
      <mat-cell *matCellDef="let company" class="text-truncate">
        {{ company.country }}
      </mat-cell>
    </ng-container>

    <!--Addresses column-->
    <ng-container matColumnDef="addresses">
      <mat-header-cell *matHeaderCellDef>Addresses</mat-header-cell>
      <mat-cell *matCellDef="let company" class="text-truncate">
        {{ company.addresses[0].street }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openDialog(row)"
    ></mat-row>
  </mat-table>
  <div class="container">
    <div class="row justify-content-around mt-2">
      <div class="col-auto">
        <div class="row">
          <div class="col">
            <button
              *ngIf="pageNumber > 1"
              mat-icon-button
              color="accent"
              (click)="pageChangerBack()"
            >
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <div class="col mt-3">
            <p>{{ pageNumber }}</p>
          </div>
          <div class="col">
            <button
              *ngIf="pageNumber < maxPages"
              mat-icon-button
              color="accent"
              (click)="pageChangerForward()"
            >
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <mat-form-field>
          <mat-label>Items in page</mat-label>
          <mat-select
            [(value)]="pageLength"
            (selectionChange)="pageLengthChanging()"
          >
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="10" selected>10</mat-option>
            <mat-option [value]="15">15</mat-option>
            <mat-option [value]="20">20</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
