<div class="container text-center">
  <h1 class="m-5">Welcome, User</h1>
  <div class="container">
    <h3 class="m-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eos quam
      libero eveniet unde autem aliquam vero enim, sequi delectus aperiam
      tenetur, error assumenda porro. Consectetur odio placeat maiores ex?
    </h3>
  </div>
  <div class="row m-5">
    <div class="col">
      <button mat-fab extended color="accent" routerLink="/preventive">
        <mat-icon>calculate</mat-icon>
        Preventive
      </button>
    </div>
    <div class="col">
      <button mat-fab extended color="accent" routerLink="/payment">
        <mat-icon>payments</mat-icon>
        Payment
      </button>
    </div>
    <div class="col">
      <button mat-fab extended color="accent" routerLink="/companies">
        <mat-icon>corporate_fare</mat-icon>
        Partner companies
      </button>
    </div>
  </div>
</div>
