<div class="container">
  <div class="container text-center">
    <div class="row mb-4">
      <h1>Portfolio</h1>
    </div>
    <div class="row mb-3">
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        mollitia vero praesentium doloribus enim nostrum tenetur nam vel odit
        fugiat iste facere explicabo obcaecati tempora hic, atque minima aut
        distinctio.
      </h3>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <img src="/src/assets/images/Logoneone.png" alt="Personal Logo" />
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h2>Hi, I'm:</h2>
        </div>
        <div class="col">
          <div class="row">
            <h3>Joele</h3>
          </div>
          <div class="row">
            <h3>a junior developer</h3>
          </div>
          <div class="row">
            <h3>a hardworker</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-5">
    <div class="col text-center self-align-center">
      <h3>Something about me:</h3>
    </div>
    <div class="col">
      <button mat-fab extended color="primary" class="mx-3">
        About
        <mat-icon>question_mark</mat-icon>
      </button>
      <button mat-fab extended color="primary" class="mx-3">
        Portfolio
        <mat-icon>storage</mat-icon>
      </button>
      <button mat-fab extended color="primary" class="mx-3">
        Contacts
        <mat-icon>alternate_email</mat-icon>
      </button>
    </div>
  </div>
</div>
