<div class="container">
  <div class="container text-center">
    <h1>Joele's Portfolio</h1>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quasi
      earum itaque similique consequuntur incidunt animi voluptas, illo
      exercitationem. Debitis vero molestias excepturi odit tenetur adipisci
      illo. Quos, ad ab.
    </h3>
  </div>
  <div class="row m-5">
    <div class="col m-5">
      <mat-card>
        <mat-card-content>
          <img
            src="/src/assets/images/Joele (web developer)-logo.jpg"
            alt="My beautiful and colored logo"
          />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col m-5">
      <h2>Nice to meet you!</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse explicabo
        deserunt fuga nihil tenetur, tempore veritatis, consectetur id
        voluptatibus dolores nemo, est distinctio blanditiis iure deleniti
        adipisci rerum quos unde?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row justify-content-end align-items-center">
        <div class="col-auto">
          <h3 class="mt-2">Do you want to</h3>
        </div>
        <div class="col-auto">
          <button mat-flat-button color="primary">know me</button>
        </div>
        <div class="col-auto">
          <h3 class="mt-2">better?</h3>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
